 #[EN] Enable or disable the plugin prefix in logs. [FR] Activer ou désactiver le préfixe du plugin dans les logs.
use-prefix: true
 #[EN] Customizable prefix for log messages. [FR] Préfixe personnalisable pour les messages de log.
prefix: "&7[&bWatchLogs&7] "
#[EN] Set to true to use MySQL for data storage. Set to false to use sqlite for data storage. [FR] Définir sur true pour utiliser MySQL pour le stockage des données. Définir sur false pour utiliser sqlite pour le stockage des données.
use-mysql: true

#[EN] MySQL database connection settings. Useless of touch it if you use sqlite.[FR] Paramètres de connexion à la base de données MySQL. Inutile de toucher à cela si vous utilisez sqlite.
mysql:
  #[EN] IP address of the MySQL server. [FR] Adresse IP du serveur MySQL.
  ip: "dont_look_me_with_my_neighbor"
  #[EN] Port number for MySQL connection. [FR] Port pour la connexion MySQL.
  port: 3306
  #[EN] Username for MySQL authentication. [FR] Nom d'utilisateur pour l'authentification MySQL.
  username: "im_not_a_robot"
  #[EN] Password for MySQL authentication. [FR] Mot de passe pour l'authentification MySQL.
  password: "cupcake" 
  #[EN] Name of the MySQL database. [FR] Nom de la base de données MySQL.
  database: "pumpkin" 

#[EN] SQLite database settings if not using MySQL. [FR] Paramètres de la base de données SQLite si MySQL n'est pas utilisé.
sqlite:
  #[EN] File name for the SQLite database. [FR] Nom de fichier pour la base de données SQLite.
  file: "watchlogs.db"

 #[EN] Language file to be used for messages. [FR] Fichier de langue à utiliser pour les messages.
 #[EN] Available languages : US (English US) or FR (French). [FR] Languages disponibles : US (Anglais américain) ou FR (Français)
lang_file: US
#[EN] Enable or disable logging to file. [FR] Activer ou désactiver la journalisation dans un fichier.
log-in-file: false
#[EN] Enable automatic deletion of old log archives. [FR] Activer la suppression automatique des anciens fichiers de log.
delete-old-archives: true
 #[EN] Number of days before old log files are deleted. [FR] Nombre de jours avant que les anciens fichiers de log soient supprimés.
yml-log-file-archive-delete: 7
#[EN] Disable automatic deletion of database logs. [FR] Désactiver la suppression automatique des logs de la base de données.
delete-database-log: false 
#[EN] Number of days before old database logs are deleted. [FR] Nombre de jours avant que les anciennes logs de la base de données soient supprimés.
database-log-delete: 28 
#[EN] Maximum number of entries shows on use /wl search or /wl page. [FR] Nombre maximum d'entrées affichés lors de l'utilisation du /wl search ou du /wl page.
max-entries: 10
#[EN] Maximum radius for searching logs. [FR] Rayon maximum pour la recherche dans les logs.
#[EN] The larger the radius, the more the log search can cause the server to lag. [FR] Plus le rayon est large, plus la recherche de logs risque de faire laguer le serveur.
max-radius-research: 5
#[EN] Define if you want to enable rebord item command or no. [FR] Défini si vous souhaitez activer la commande de regénération des items ou non.
#[EN] This settings enable /wl giveitem and /wl gdeath commands or no. [FR] Ce paramètre active le /wl giveitem et le /wl gdeath ou non.
use-item-reborn-system: true
#[EN] For /wl gdeath, define if you want to cancel command execution if player's inventory is not empty. [FR] Pour le /wl gdeath, défini si vous souhaitez arrêer l'execution de la commande si l'inventaire du joueur n'est pas vide.
cancel-if-inventory-is-not-empty: false

#[EN] List of commands that will not be logged in the logs. [FR] Liste des commandes qui ne seront pas enregistrés dans les logs.
blacklist-commands:
- /login
- /register
- /op

#[EN] List of blocks that will not be logged in the logs. (in all actions with blocks !) [FR] Liste des blocs qui ne seront pas enregistrés dans les logs. (dans toutes les actions avec des blocs !)
blacklist-blocks:
- BEDROCK
- ENDERCHEST

#[EN] List of items that will not be logged in the logs. (in all actions with items !) [FR] Liste des items qui ne seront pas enregistrés dans les logs. (dans toutes les actions avec des items !)
blacklist-items:
- BEDROCK
- DIAMOND_SWORD

#[EN] Settings of /wl tool. [FR] Paramètres du /wl tool.
#[EN] Set numeric ID ONLY, and set ID of block (with item this system dosnt work). [FR] Mettez un ID NUMERIQUE UNIQUEMENT, et mettez l'id d'un bloc (le système ne fonctionnera pas avec un item)
block-tool:
  #[EN] Numeric ID of the block tool. [FR] ID Numérique du tool block.
  id: DIAMOND_BLOCK
  #[EN] Custom name for the block tool. [FR] Nom personnalisé pour l'outil de bloc.
  name: "&bWatchTool" 
  research-limit-default: 100

#[EN] Enable or disable specific log events. [FR] Activer ou désactiver des événements de log spécifiques.
enable-logs: 
  join: true 
  leave: true 
  teleport: true 
  block-place: true 
  block-break: true 
  container-open: false
  container-transaction: true 
  item-drop: true 
  item-pickup: true 
  item-break: false
  player-death: true 
  player-death-loot: true 
  commands: true 
  send-message: false
  interact-item: true 
  interact-block: true
  interact-entity: true
  block-explosion: true
  json-import: true
  json-export: true
  website-login: true
  website-logout: true
  website-logs-search: true
  website-register: true
  
#[EN] Modify settings of the website. [FR] Modifiez les paramètres du site internet.
website:
   #[EN] Define if you want to use website module or no. [FR] Défini si vous souhaitez utiliser le module du site internet ou non.
   enable_website_module: true
   #[EN] Define if you want to enable register on the website. [FR] Défini si vous souhaitez activer l'enregistrement sur le site internet.
   enable_register: true
   #[EN] Define if you want to use an a register whitelist. [FR] Défini si vous souhaitez utiliser une whitelist pour l'enregistrement.
   use-register-whitelist: false
   #[EN] Define port that the server will use for start web server. For go to it, go on "your_ip:your_port". [FR] Défini le port que le serveur va utiliser pour démarrer le server web. Pour y aller, rendez vous sur "votre_ip":"port".
   website_port: 8080
   #[EN] Define the minimum of lenght of password. [FR] Défini la taille minimum d'un mort de passe.
   minimum_lenght_of_password: 8
   #[EN] Define if you want to require OP status for register on the website. [FR] Défini si vous souhaitez que le status OP soit obligatoire pour s'enregistrer sur le site internet.
   player_must_be_op_for_register: true
   #[EN] Define the maximum of account in the website. Set it to -1 for disable account limit. [FR] Défini le maximum de comptes sur le site internet. Mettez le à -1 pour désactiver la limite de compte.
   max_account: -1
   #[EN] Define if you want to use login whitelist on the website. [FR] Défini si vous souhaitez utiliser une whitelist pour la connexion au site internet.
   use-login-whitelist: false
   #[EN] Define if you want to log IPs request on the website. [FR] Défini si vous souhaitez logger les IP des requêtes sur le panel web.
   log-request-ips: true
   #[EN] Define if you want to hide coordinates on the logs. [FR] Défini si vous souhaitez cacher les coordonées dans les logs. 
   hide-coordinates-in-logs: false
   #[EN] Define the time when the logs can be showed in the web panel. Take a little time, because the longer the time, the longer the search work in the database will take and will risk crashing your server.
   #[FR] Défini le temps durant lequel les logs pourront être montrés sur le panel web. Mettez un petit temps, car plus le temps sera grand, plus le travaille de recherche dans la base de donnée sera long et risquera de faire crash votre serveur.  
   website-log-time-limit-showed: "7d"
   
#[EN] If you use the register whitelist, set here the names of players allows to register. [FR] Si vous utiliser la whitelist d'enregistrement, mettez ici le nom des joueurs autorisés à s'enregistrer.
website-register-whitelist:
- STEVE
- NOTCH

#[EN] If you use the login whitelist, set here the names of players allows to login. [FR] Si vous utilisez la whitelist de connexion, mettez ici le nom des joueurs autorisés à se connecter.
website-login-whitelist:
- STEVE

#[EN] Discord integration settings. [FR] Paramètres de l'intégration Discord.
#For create discord bot, get token and more, see https://discordpy.readthedocs.io/en/stable/discord.html
discord: 
  #[EN] Token for the Discord bot. [FR] Token du bot Discord.
  bot-token: ""
  #[EN] Custom activity message for the Discord bot. [FR] Message d'activité personnalisé pour le bot Discord.
  activity_message: ":eyes: See you with WatchLogs plugin"
  #[EN] Enable or disable the Discord module. [FR] Activer ou désactiver le module Discord.
  discord-module-enabled: true 
  #[EN] Include coordinates in Discord logs. [FR] Inclure les coordonnées dans les logs Discord.
  enable-logs-coords: false 
  #[EN] URL for player head images in Discord logs. Set %p for set variable of player Name (Player name only, not player UUID) [FR] URL pour les images de tête de joueur dans les logs Discord. Mettez %p pour la variable du pseudo du joueur (Le pseudo uniquement, pas l'UUID)
  url-head-image: "https://minotar.net/helm/%p/128.png"
  #[EN] Define if you want to enable or disable the split system for logs. [FR] Défini si vous souhaitez activer ou désactiver la division des logs discord.
  enable-split-log-system: true
 
#[EN] Set here the channel ID for logs split. You can set this with command /setup-split in discord. [FR] Mettez ici l'id du channel pour la division des logs. Vous pouvez utiliser la commande /setup-split directement sur discord.
splitted-discord-logs:
  join: "-"
  leave: "-"
  teleport: "-"
  block-place: "-"
  block-break: "-"
  container-open: "-"
  container-transaction: "-"
  item-drop: "-"
  item-pickup: "-"
  item-break: "-"
  player-death: "-"
  player-death-loot: "-"
  commands: "-"
  send-message: "-"
  interact-item: "-"
  interact-block: "-"
  interact-entity: "-"
  block-explosion: "-"
  json-import: "-"
  json-export: "-"
  website-login: "-"
  website-logout: "-"
  website-logs-search: "-"
  website-register: "-"

#[EN] Enable or disable specific Discord log events. [FR] Activer ou désactiver des événements de log Discord spécifiques.
enable-discord-logs:
  join: true 
  leave: true 
  teleport: true 
  block-place: true 
  block-break: true 
  container-open: true 
  container-transaction: true 
  item-drop: true 
  item-pickup: true 
  item-break: true
  player-death: true 
  player-death-loot: true 
  commands: true
  send-message: true 
  interact-item: true 
  interact-block: true 
  interact-entity: true 
  block-explosion: true
  json-import: true
  json-export: true
  website-login: true
  website-logout: true
  website-logs-search: true
  website-register: true